# Logging
LOG_LEVEL=INFO

# RAG
EMBEDDING_MODEL=BAAI/bge-m3
# 硅基流动
SILICONFLOW_API_KEY=sk-xxx

# Dashscope
DASHSCOPE_API_KEY=sk-xxxx
DASHSCOPE_API_BASE=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_MODEL=qwen3.5-flash

KNOWLEDGE_BASE_URL=https://iknow.lenovo.com.cn/

# milvus
MILVUS_URI=http://xxxx
MILVUS_USERNAME=xxxx
MILVUS_PASSWORD=xxxx
MILVUS_DB=xxxx
MILVUS_TIMEOUT=3

MINERU_TOKEN=xxxx

# JWT
JWT_SECRET=change-this-to-a-random-secret

# langfuse
LANGFUSE_SECRET_KEY="sk-xxxx"
LANGFUSE_PUBLIC_KEY="pk-xxxx"
LANGFUSE_BASE_URL="http://localhost:3000"