# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
.venv
.env

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-build.log

.claude

data

docker/milvus/volumes

node_modules